html, body{
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="emailLogin"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="passwordLogin"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="username"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="FirstName"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="SecondName"] {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="Address"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="Telephone"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#FormFill{
	font-size:95%;
}

/*
Checkout page
*/

.container {
	max-width: 800px;
	max-height:980px; 
}

#Discount {
	color:red;
}

/*
Homepage
*/

.row{
	margin-bottom:16px 
}



